.allsdkjcsnlsldj {
    margin-top: 6.8rem;
    background-color: #C1E9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jkdjsjkcssj {
    width: 100%;
    max-width: 1360px;
}
.iowuriosck {
    margin: 40px 0 32px 0;
    display: flex;
    align-items: center;
}
.kd9wlcdsk {
    font-size: 14px;
    line-height: 24px;
    margin: 0 -4px;
    padding: 0 4px;
    color: rgb(125, 125, 133);
}
.jkdlsciwkd {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: 24px;
    font-size: 14px;
    margin: 0 4px;
}
.kd9wlcdsk:hover {
    color: #16161d;
}
.dkkwidcjas {
    display: inline-flex;
    font-size: 14px;
line-height: 24px;
}

.dlscslkfj {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.dlkwcdscls {
    width: 52%;
}
.wkrjkwrjkw {
    width: 48%;
}

.jdsjkcsk {
    font-family: "Albert Sans", sans-serif;
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
}

.img_lkwjfori img {
    width: 100%;
}

.dkdsjcsui {
    font-size: 18px;
    line-height: 24px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    color: rgb(84, 84, 92);
    margin: 25px 0 20px 0;
}

.dslcsdklk {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.dkjscsklj9w:hover .klZdker{
    background-color:  #46464C;
}
.dkjscsklj9w:hover .icon_dkjwkl{
    transform: translate3d(4px, 0, 0);
}

.klZdker {
    padding: 17px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Albert Sans", sans-serif;
    background-color:  rgb(22, 22, 29);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.djwkffk {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-right: 8.5px;
    color: rgb(255, 255, 255);
}

.icon_dkjwkl {
    font-size: 16px;
    display: inline-flex;
    line-height: 20px;
    transition: all .2s ease-in-out;
}

.kjdsjrfhow {
    color: #7d7d85;
    margin-top: 12px;
    text-align: start;
    font-size: 16px;
    line-height: 24px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    color: rgb(84, 84, 92);
    margin: 25px 0 20px 0;
}

.ksjhiwfnl {
    margin-top: 32px;
    padding: 24px 0 40px 0;
    border-top: 1px solid rgba(7, 50, 71, .12);
}

.ksjhiwfnl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.kldowifkr {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.kldowifkr img {
    width: 24px;
    height: 24px;
}

.kwiurjlfkjo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    line-height: 24px;
    color: rgb(84, 84, 92);
}

.jkdjskl {
    font-size: 16px;
}
.lkdoiwr {
    display: flex;
    align-items: center;
}

.kwdfuiw {
    color: rgb(84, 84, 92);
    margin: 0 20px;
}

.ldiofwjf {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 24px;
    font-size: 16px;
    color: rgb(84, 84, 92);

}