.footer {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem;
}
.kddkdkdk {
    max-width: 1200px;
}

.kdykldiskolw9 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.kdykldiskolw9_item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 240px;
    margin-right: 100px;
}

.slcsslkd img {
    height: 32px;
}

.kdicddnks {
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    font-family: "Albert Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 35px;
    margin-top: 20px;
}
.kdkslsirks {
    text-align: left;
    margin-bottom: 35px;
}

.kdkslsirks a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;

    width: 100%;
    font-family: "Albert Sans", sans-serif;
}

.klass_title {
    color: #e6e6e6;
    font-family: "Albert Sans", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 1.7rem;
    text-align: left;
}

.libs-pc-footer-social {
    display: flex;
    margin-top: 35px;
}

.libs-pc-footer-social a {
    margin-right: 20px;
}

.libs-pc-footer-social a img {
    width: 20px;
    height: 20px;
}

.libs-pc-footer-bottom-content {
    align-items: center;
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 100px;
    padding: 28px 0;
    width: 1200px;
}

.libs-pc-footer-bottom-content .legal-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
}

.libs-pc-footer-bottom-content .policy-info {
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: inline-flex;
    font-family: "Albert Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-right: 20px;
    transition: all .24s;
}

.libs-pc-footer-bottom-content .friendship-site-wrap {
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
    font-family: "Albert Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    gap: 16px 0;
    line-height: 14px;
}

.libs-pc-footer-bottom-content .friendship-site {
    align-items: center;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    margin-right: 16px;
    transition: all .24s;
}

@media only screen and (max-width: 1024px) {
    .kddkdkdk {
        width: 100%;
    }
    .kdykldiskolw9 {
        grid-template-columns: repeat(2, 1fr);
    }
    .libs-pc-footer-bottom-content {
        width: 100%;
    }
}



@media only screen and (max-width: 768px) {
    .kddkdkdk {
        width: 100%;
    }
    .kdykldiskolw9 {
        grid-template-columns: repeat(2, 1fr);
    }
    .libs-pc-footer-bottom-content {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {
    .footer {
        padding: 40px 24px 0 24px;
    }
    .kdykldiskolw9 {
        grid-template-columns: repeat(1, 1fr);
    }
    .kdykldiskolw9_item {
        width: 100%;
        margin-right: 0;
    }
    .kdicddnks {
        margin-bottom: 0px;
    }
    .klass_title {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .kdkslsirks {
        display: none;
    }
    .libs-pc-footer-bottom-content {
        margin-top: 30px;
    }
}